{% extends 'base.html' %}

{% block content %}
<h1>Pokemon Form</h1>
<form action="/pokemon" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id="name">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <div style="color: blue">
      <small>{{error}}</small>
    </div>
</form>

{% if pokedex %}

<table class="table table-striped table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Ability</th>
        <th scope="col">Base Experience</th>
        <th scope="col">Attack Base Stat</th>
        <th scope="col">HP Base Stat</th>
        <th scope="col">Defense Base Stat</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
        {% for pokemon in pokedex %}
            <tr>
            <th scope="row">{{pokemon['Name']}}</th>
            <td>{{pokemon['Ability']}}</td>
            <td>{{pokemon['Base Experience']}}</td>
            <td>{{pokemon['Attack Base Stat']}}</td>
            <td>{{pokemon['HP Base Stat']}}</td>
            <td>{{pokemon['Defense Base Stat']}}</td>
            <td><image src="{{pokemon['Front Shiny']}}"></image></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% endif %}

{% endblock %}