<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('main.home')}}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome, {{current_user.first_name}}!</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.home')}}">Home</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.pokemon')}}">Safari Zone</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.team')}}">Your Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.battle')}}">Battle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.editprofile')}}">Edit Profile</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.signup')}}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>