{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/battle.css')}}">
{% endblock %}

{% block title %}
Battle!
{% endblock %}

{% block content %}

{% for user in users %}
{% if user.id != current_user.id %}
<table class="table table-striped table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">{{user.first_name}}</th>
            <th><a href="{{url_for('main.fight', id=user.id)}}" class="btn btn-danger">Battle!</a></th>
        </tr>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Ability</th>
        <th scope="col">Base Experience</th>
        <th scope="col">Attack Base Stat</th>
        <th scope="col">HP Base Stat</th>
        <th scope="col">Defense Base Stat</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
        {% for pokemon in user.team %}
            <tr>
            <th scope="row">{{pokemon.pokemon_name}}</th>
            <td>{{pokemon.ability}}</td>
            <td>{{pokemon.base_experience}}</td>
            <td>{{pokemon.attack_base_stat}}</td>
            <td>{{pokemon.hp_base_stat}}</td>
            <td>{{pokemon.defense_base_stat}}</td>
            <td><image src="{{pokemon.front_shiny}}" alt="{{pokemon.pokemon_name}}"></image></td>
        {% endfor %}
            </tr>
    </tbody>
  </table>
{% endif %}
{% endfor %}

{% endblock %}